*{
	padding: 0;
	/*margin: 0 0 0 60px;*/
	font-family: "微软雅黑";	
}
body{
	background-color: rgb(255,250,232);
	padding-left: 80px;}
h1{	
	font-size:22px;
	line-height: 30px;
	color:#330000;
	margin-top: 30px;
}
li{	
	font-size: 18px;
	line-height: 30px;
	color: #333333;
}
h4{
	font-family: "微软雅黑";	
	font-size:18px;
	line-height: 18px;
	color:#333333;
	margin-left:10px;
	font-weight:500;
}
span{
	display: block;
	border: 1px solid rgb(60,122,53);
	width:80%;
	margin: 10px 0 10px 15px;
	height:auto;
	overflow:auto;
	background-color: white;
	line-height:28px ;
	padding-bottom: 5px;
}
div>b{
	font-family: "微软雅黑";	
	font-size: 20px;
}
pre{
	background-color:rgba(210,210,213,.5) ;
	color:#2369B6;
}
